* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Mono", monospace;
}

:root {
  --bg-dark: hsl(0, 0%, 0%);
  --bg: hsl(0, 0%, 5%);
  --text: hsl(0, 0%, 100%);
}

body {
  background-color: var(--bg-dark);
  /* background-image: url("./assets/ascii-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: local; */
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--text);
}

.App {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  /* justify-content: space-between; */
  min-height: 100vh;
  color: var(--text);
}

.header {
  display: flex;
  flex-direction: row;
  flex: 0 10 auto;
  justify-content: space-evenly;
  position: sticky;
  top: 0rem;
  background-color: var(--bg);
  padding: 1rem;
  z-index: 2000;
}

.HomeSection {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
  background-image: url("./assets/ascii-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: local;
  scroll-margin-top: 4rem;
}

.Section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  /* background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px); */
  min-width: 100%;
  padding-top: 5rem;
  padding-bottom: 0rem;
  /* text-align: center; */
}

.SectionDescription {
  text-align: center;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 1rem;
}

.Title {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-top: 10rem;
}

.SalesPitch {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  /* margin-top: 27rem; */
  /* margin-bottom: 4rem; */
  bottom: 4rem;
  text-align: center;
  /* padding-right: 2rem;
  padding-left: 2rem; */
}

/* .work-xp-title {
  padding-top: 2rem;
} */

.work-xp-body {
  /* justify-content: left; */
  padding: 3rem;
  display: flex;
  flex-direction: column;
  /* flex: 1 1 auto; */
  align-self: flex-start;
}

.work-xp-list {
  padding-inline: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.ELMSDR-work-list {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about-body {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  align-self: flex-start;
  gap: 1rem;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 900;
  opacity: 0;
  /* transform: opacity 0.3s ease; */

  animation: fadeInOverlay 0.3s ease forwards;
}

@keyframes fadeInOverlay {
  to {
    opacity: 1;
  }
}

/* .mobile-menu-tray.visible,
.menu-overlay.visble {
  opacity: 1;
} */

.menu {
  position: sticky;
  top: 1rem;
  right: 0.5rem;
  display: none;
  align-self: flex-end;
  font-size: 2rem;
  /* border: 1px solid var(--text); */
  z-index: 1000;
}

.menu-btn {
  display: flex;
  /* background-color: black; */
  /* color: black; */
  /* background-size: auto; */
  border-radius: 2px;
  /* border: 1px solid white; */
}

.mobile-menu-tray {
  position: fixed;
  top: 3rem;
  right: 0.5rem;
  width: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: end;
  /* border: 1px solid var(--text); */
  background-color: transparent;
  opacity: 0;
  animation: fadeInMenu 0.3s ease forwards;
  z-index: 1100;
  transform: opacity 0.3s ease;
}

@keyframes fadeInMenu {
  to {
    opacity: 1;
  }
}

.mobile-menu-item {
  /* padding: 1rem; */
  color: var(--text);
  text-decoration: none;
  font-size: 1rem;
  border: 1px solid var(--text);
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  background-color: var(--bg-dark);
  z-index: 1200;
}

.project-card-container {
  padding: 3rem;
  max-width: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
}

@media (max-width: 767px) {
  .HomeSection {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: local;
    min-height: 100svh;
  }

  .Section {
    min-height: 100svh;
  }

  .header {
    display: none;
  }

  .Title {
    margin-top: 6rem;
  }

  .SalesPitch {
    bottom: 4rem;
    margin-left: 2rem;
    margin-right: 2rem;
    position: absolute;
  }

  .menu {
    display: flex;
    flex-direction: column;
  }

  .App {
    min-height: 100svh;
  }

  .project-card-container {
    grid-template-columns: 1fr;
  }
}
