* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Mono", monospace;
}

:root {
  --bg-dark: hsl(0, 0%, 0%);
  --bg: hsl(0, 0%, 5%);
  --text: hsl(0, 0%, 100%);
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("./fonts.css/IBM_Plex_Mono/IBMPlexMono-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: var(--bg-dark);
  /* background-image: url("./assets/ascii-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: local; */
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--text);
}

.App {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  /* justify-content: space-between; */
  min-height: 100vh;
  color: var(--text);
}

.header {
  display: flex;
  flex-direction: row;
  flex: 0 10 auto;
  justify-content: space-evenly;
  position: sticky;
  top: 0rem;
  background-color: var(--bg);
  padding: 1rem;
  z-index: 2000;
}

.HomeSection {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
  background-image: url("./assets/ascii-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: local;
  scroll-margin-top: 4rem;
}

.Section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px); */
  min-width: 100%;
  padding-top: 5rem;
  padding-bottom: 0rem;
}

.Title {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-top: 10rem;
}

.SalesPitch {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 27rem;
  margin-bottom: 4rem;
  text-align: center;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 900;
  opacity: 0;
  animation: fadeInOverlay 0.3s ease forwards;
}

@keyframes fadeInOverlay {
  to {
    opacity: 1;
  }
}

.menu {
  position: sticky;
  top: 1rem;
  right: 1rem;
  display: none;
  align-self: flex-end;
  font-size: 2rem;
  /* border: 1px solid var(--text); */
  z-index: 1000;
}

.menu-btn {
  display: flex;
}

.mobile-menu-tray {
  position: fixed;
  top: 2rem;
  right: 1rem;
  width: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: end;
  /* border: 1px solid var(--text); */
  background-color: transparent;
  opacity: 0;
  animation: fadeInMenu 0.3s ease forwards;
  z-index: 1000;
}

@keyframes fadeInMenu {
  to {
    opacity: 1;
  }
}

.mobile-menu-item {
  /* padding: 1rem; */
  color: var(--text);
  text-decoration: none;
  font-size: 1rem;
  border: 1px solid var(--text);
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  background-color: var(--bg-dark);
  z-index: 1000;
}

@media (max-width: 767px) {
  .HomeSection {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: local;
    min-height: 100svh;
  }

  .Section {
    min-height: 100svh;
  }

  .header {
    display: none;
  }

  .SalesPitch {
    bottom: 6rem;
    margin-left: 2rem;
    margin-right: 2rem;
    position: absolute;
  }

  .Dock {
    display: flex;
  }

  .menu {
    display: flex;
    flex-direction: column;
  }

  .App {
    min-height: 100svh;
  }
}
